@import "~variable.scss";

ion-grid {
    background: #f5f5f5;
    padding-top:rem(30);

}

.iconfont {
    font-size: 11px;
}

a {
    display: block;
    margin-bottom: rem(20);
    background: #fff;
    padding: rem(20) 0;
    // border: 1px solid var(--ion-tab-bar-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.07))));
}

ul {
    color: #333;

    li {
        display: inline-block;
        padding: rem(24);
        font-size: rem(24);
    }
}

.text {
    font-size: 13px;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*! autoprefixer: off ;*/
    -webkit-box-orient: vertical;
}

.sub-title {
    font-size: 14px;
    color: #404040;
    margin-bottom: rem(10);

    .time {
        color: #8c8989;
        margin-left: rem(20);
        font-size: 12px;
    }
}

.heat {
    font-size: 12px;
    color: $themeColor;
    span,ion-icon{
        vertical-align: middle;
    }
}